---
import "../styles/global.css";
import "remixicon/fonts/remixicon.css";
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root[data-theme="light"] {
    --text: hsl(178, 66%, 8%);
    --background: hsl(180, 64%, 98%);
    --primary: hsl(178, 67%, 30%);
    --secondary: hsl(178, 67%, 80%);
    --accent: hsl(178, 67%, 40%);
  }
  :root[data-theme="dark"] {
    --text: hsl(178, 66%, 92%);
    --background: hsl(180, 60%, 2%);
    --primary: hsl(178, 67%, 70%);
    --secondary: hsl(178, 67%, 20%);
    --accent: hsl(178, 67%, 60%);
  }

  /* CSS Reset */
</style>
